.login {
    margin: 0;
    width: 99vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft,
.loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo {
    font-size: 50px;
    font-weight: bold;
    background: -webkit-linear-gradient(rgba(6,17,33,1), rgba(4, 56, 115, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
    
}

.loginDesc {
    font-size: 24px;
}

.loginBox {
    height: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 18px;
    padding-left: 20px;

}

.loginInput:focus {
    outline: none !important;
}

.loginButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(288deg, rgba(0, 85, 255, 1) 1.5%, rgba(4, 56, 115, 1) 91.6%);


    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginForgot {
    text-align: center;
    color: #142d4c !important;
}

.loginRegisterButton {
    width: 60%;
    height: 50px;
    align-self: center;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(109.6deg, rgba(61, 131, 97, 1) 11.2%, rgba(28, 103, 88, 1) 91.1%);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginButtonGoogle {
    margin-top: 20px;
    width: 75px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-self: center;
    font-weight: bold;
}

.google {
    background-color: #df4930;
}




@media only screen and (max-width: 600px) {
    .login {
        flex-direction: column;
    }

    .loginWrapper {
        width: 80%;
        height: 100%;
        flex-direction: column;
    }

    .loginRegisterButton {
        height: 70px !important;
    }

    .loginLeft,
    .loginRight {
        flex: 0.4 !important;
    }
}