
.register{
    width: 99vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.RegisterWrapper{
    width: 70%;
    height: 80%;
    display: flex;
}

.registerRight{
    flex: 1 !important;
    display: flex;
    overflow: scroll;
}

.loginLeft,.loginRight{
    flex: 1 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.loginLogo{
    font-size: 50px;
    font-weight: bold;
    color: #1775ee;
    margin-bottom: 10px;
}

.loginDesc{
    font-size: 24px;
}

.registerBox{
    overflow-y: scroll;
    height: 800px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput{
    height: 40px;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 18px;

}
textarea{
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 18px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.loginInput:focus{
    outline: none !important;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
}

.loginForgot{
    text-align: center;
    color: #1775ee;
}

.loginRegisterButton{
    width: 60%;
    height: 50px;
    align-self: center;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginInput .upload-button{
    align-self: center;
    background-color: rgba(128, 128, 128, 0.352);
    color: black;
    height: 20px;
    border-radius: 5px;
    margin-right: 3px;
    text-align: center;
    padding: 0 5px 0 5px;
    font-size: 15px;
}
.uploadInput{
    height: 20px;
}
.loginInput .upload-button:hover{
    background-color: rgba(128, 128, 128, 0.61);
    cursor: pointer;
}

option{
    color: black;
}

@media only screen and (max-width: 600px) {
    .register{
        flex-direction: column;
    }
    .RegisterWrapper{
        width: 80%;
        height: 100%;
        flex-direction: column;
    }
    .loginRegisterButton{
        height: 70px !important;
    }
    .loginLeft,.loginRight{
        flex: 0.8 !important;
    }
    .loginInput .upload-button{
        padding: 0 2px 0 2px;
        font-size: 16px;
    }
    .registerRight{
        margin-bottom: 20px;
        margin-top: -50px;
    }
   
}