.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarLeft {
    flex: 3;

}

.topbarCenter {
    flex: 5;

}

.searchbar {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
}

.searchInput {
    border: none;
    width: 60%;
}

.searchInput:focus {
    outline: none;
}

.topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.topbarLink {
    margin-right: 10px;
    font-size: 14px;
    ;
    cursor: pointer;
}

.topbarIcons {
    display: flex;
}

.topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarImg {
  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.logo {
    display: block;
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.sublogo {
    display: none;
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}



.serachUserContainer {
    align-items: center;
    z-index: 99;
    position: fixed;
    background-color: #1877f2;
    width: 350px;
    margin-left: 390px;
    padding: 10px;
}

.searchUserItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 45px;
    color: black;
    background-color: white;
    margin-bottom: 5px;
    text-decoration: none;
}

.searchUserImg {
    margin-top: 2px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.searchUserItem:hover {
    background-color: rgba(255, 255, 255, 0.701);
}

.serachUserInf {
    display: flex;
    flex-direction: column;
}

.serachUserAbout {
    font-weight: 400;
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    .topbarLinks {
        display: none;
    }

    .logo {
        display: none !important;
    }

    .sublogo {
        display: block;
    }

    .serachUserContainer {
        margin-left: 10px !important;
        background-color: #1876f2c9 !;
    }

}

.profile-button:hover {
    background-color: #1877f2;
    border: none !important;
}

.dropdown {
    border-radius: 6px;
}
.profile-button:focus{
    border: none !important;
}
.profile-button{ 
    border: none !important;

}