.searchCoversationUserItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 45px;
    color: black;
    background-color: white;
    text-decoration: none;
    margin: 10px;
}