.adminWrapper {
    overflow-x: scroll;
    margin: 30px;
}

.topbar-head-admin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #1876f2c9;
    text-align: center;
    color: black;
}

.adminLogo {
    margin-right: 20px;
    font-weight: bold;
}

.DialogContent {
    width: 30rem;
}

@media only screen and (max-width: 600px) {
    .topbar-head {
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

    .logo {
        display: block;
        margin-left: 0;
    }

    .adminLogo {
        margin-right: 0 !important;
    }

    .DialogContent {
        width: 20rem;
    }

    .topbarLinks {
        display: block;
    }
}

.update-input {
    display: flex;
}